<% content_for(:head) do %>
    <%= stylesheet_link_tag 'formtastic', 'activo-formtastic/formtastic_changes' %>
    <%= javascript_include_tag 'jquery-1.4.3.min', 'jquery.tipsy' %>
<% end %>

<% unless signed_in? -%>
    <p>If you already have an account, please <%= link_to 'sign-in', login_path %>.</p>
<% end -%>

<% new = false unless new and new == true -%>
<% semantic_form_for @provider, :html => {:multipart => true, :class => 'form'} do |f| %>
    <div class="columns wat-cf">
      <div class="column left" style="width:70%;">

        <%= avatar_tag @provider %>
        <%= f.file_field :avatar %>
        <br/>
        <br/>

        <% f.inputs do %>
            <%= f.input :first_name, :input_html => {:size => '50'} %>
            <%= f.input :last_name, :input_html => {:size => '50'} %>
            <% if new -%>
                <%= f.input :password, :input_html => {:size => '50'} %>
                <%= f.input :password_confirmation, :input_html => {:size => '50'} %>
            <% end %>
            <%= f.input :email, :as => :string, :input_html => {:size => '50'},
                        :hint => 'Your email is shown only to people that accept your offers' %>
            <%= f.input :phone, :as => :string, :required => false, :input_html => {:size => '50'},
                        :hint => 'Your phone is shown only to people that accept your offers' %>
            <%= f.input :location,
                        :input_html => {:size => '50', :title => 'For best results, please use full address'},
                        :hint => 'Your location is shown only to people that accept your offers' %>
            <%= f.input :about, :required => false, :input_html => {:cols => '50', :rows => '16'} %>

            <%= render :partial => 'skills_form', :locals => {:f => f} %>

            <%= f.input :business_name, :required => false, :input_html => {:size => '50'} %>
            <%= f.input :site, :required => false, :input_html => {:size => '50'} %>
        <% end %>

        <div class="group navform wat-cf">
          <button class="button" type="submit">
            <%= image_tag('icons/tick.png') %>
            <% if new -%>
                <%= f.submit 'Create', :disable_with => 'Creating...' %>
            <% else -%>
                <%= f.submit 'Update', :disable_with => 'Updating...' %>
            <% end -%>
          </button>
          <%= link_to(image_tag('icons/cross.png', :alt => 'Cancel') + 'Cancel', :back, :class => 'button') %>
        </div>

      </div>
      <div class="column right" style="width:30%;">

        <% if @provider.id -%>

            <h3>Photos</h3>
            <% @provider.pics.each do |pic| -%>
                <% f.semantic_fields_for :pics, pic do |pf| %>
                    <% pf.inputs do %>
                        <%= pic_thumb_tag(pic) %>
                        <%= pf.input :_destroy, :required => false, :label => 'Delete', :as => :boolean %>
                        <%= pf.input :caption, :required => false, :input_html => {:size => '46'} %>
                    <% end -%>
                <% end -%>
            <% end -%>

            <%= link_to image_tag('icons/add.png') + 'Add photos',
                        new_provider_pic_path(@provider), :class => 'button' %>

        <% end -%>

      </div>
    </div>

    <%= render :partial => 'application/form_legend' %>

<% end -%>
<%= render :partial => 'users/privacy_notice' %>

<script type='text/javascript'>
    $(function() {
        $('#provider_location').tipsy({trigger: 'focus', gravity: 'w', fade: true});
    });
</script>