<% content_for(:head) do %>
    <%= stylesheet_link_tag 'formtastic', 'activo-formtastic/formtastic_changes', 'tipsy' %>
<% end %>

<% new = false unless new and new == true %>
<% semantic_form_for @request, :html => {:multipart => true, :class => 'form'} do |f| %>
    <div class="columns wat-cf">
      <div class="column left" style="width:70%;">

        <% f.inputs do %>
            <%= f.input :name, :label => 'Job name', :input_html => {:size => '75'} %>
            <%= f.input :description, :label => 'Job description', :input_html => {:cols => '74', :rows => '8'} %>
            <%= f.input :job_type,
                        :input_html => {:style => 'width:auto'},
                        :prompt => true,
                        :collection => Request::JOB_TYPES + Request::MISC_JOB_TYPE %>
            <%= f.input :location,  :label => 'Job location', :input_html => {:size => '75'} %>
        <% end -%>

        <div class="group navform wat-cf">
          <button class="button" type="submit">
            <%= image_tag('icons/tick.png') %>
            <% if new -%>
                <%= f.submit 'Post', :disable_with => 'Posting...' %>
            <% else -%>
                <%= f.submit 'Update', :disable_with => 'Updating...' %>
            <% end -%>
          </button>
          <%= link_to(image_tag('icons/cross.png', :alt => 'Cancel') + 'Cancel', :back, :class => 'button') %>
        </div>

      </div>
      <div class="column right" style="width:30%;">

        <% if @request.id -%>
            <h3>Photos
              <small>
                <%= link_to image_tag('/icons/picture_plus.png') + ' Add photos', new_request_pic_path(@request) %>
              </small>
            </h3>
            <% @request.pics.each do |pic| -%>
                <% f.semantic_fields_for :pics, pic do |pf| %>
                    <% pf.inputs do %>
                        <%= pic_thumb_tag(pic) %>
                        <%= pf.input :_destroy, :required => false, :label => 'Delete', :as => :boolean %>
                        <%= pf.input :caption, :required => false, :input_html => {:size => '46'} %>
                    <% end -%>
                <% end -%>
            <% end -%>
        <% end -%>
      </div>
    </div>

    <%= render :partial => 'application/form_legend' %>

<% end -%>